# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Build
/build/
/app/build/

# Gradle
.gradle/
local.properties

# Logs
*.log

# Firebase / Google Secrets
google-services.json

# Keystore
*.jks
*.keystore

# Env files
.env
.env.*

# Temporary
*.tmp
